* {
    box-sizing: border-box;
	outline: 0;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.grid-container {
  display: grid;
  min-height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

html, body {
    width: 100%;
    height: 100%;
	padding: 0px 0px;
	margin: 0 auto;    
}

a {
	color: #8F8D8D;
	text-decoration: none;
}

a:hover, a:focus {
	color: #c3c2c2;
}

header { 
	grid-area: header; 
	background-color: #333333;
	padding: 10px 0;
	/* background: linear-gradient(#000, #4a4a4a, #000); */
}

header h1 a{
text-decoration:none;
}

header h1{
	margin: 0;
	font-family: 'Indie Flower', cursive;
	margin-left: 20px;
}

content { 
	grid-area: content; 
	background-color: #151515;
}

content h2 {
	color: #708c2f;
}

footer { 
	grid-area: footer; 
	background-color: #333333;
	text-align: center;
	color: #8e8e8e;
}

.thematic { 
	margin: 2% 20%;
	padding: 5px 5px;	
	border-radius: 4px;
	background-color: #b5b5b5;
}

blockquote {
	background-color: #9b9b9b;
	padding: 5px 5px;
	border-radius: 7px;
}

ul {
	display: inline-block;
	padding: 0;
}

li.sign  {
	list-style-type: none;
	display: inline-block;
	margin: 0px 2em;
}

.txtArea {
	background-color: #e1e1e1;
	width: 100%;
	max-width: 100%;
	min-width: 50%;
	max-height: 150px;
	min-height: 50px;
	height: 100px;
	border-radius: 10px;
}

.validate {
	background-color: #708c2f;
	color: #e1e1e1;
	width: 300px;
	height: 50px;
	font-size: 1.7em;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

.validate:hover {
	background-color: #628f33;
	color: #e1e1e1;
	box-shadow: -1px 1px 4px -2px rgba(0,0,0,0.52);
	-webkit-box-shadow: -1px 1px 4px -2px rgba(0,0,0,0.52);
	-moz-box-shadow: -1px 1px 4px -2px rgba(0,0,0,0.52);
}

@media only screen and (max-width: 600px) {
	header h1 {
		margin: 0;
			margin-left: 0px;
		font-family: 'Indie Flower', cursive;
		margin-left: 20px;
		font-size: 1em;
		-webkit-transition: all 2s 0s ease;
		-moz-transition: all 2s 0s ease;
		-o-transition: all 2s 0s ease;
		transition: all 2s 0s ease;
	}

	.thematic { /* temporary content */
		margin: 2% 5%;
		padding: 5px 5px;	
		border-radius: 4px;
		background-color: #b5b5b5;
	}

	blockquote {
		background-color: #9b9b9b;
		padding: 5px 5px;
		border-radius: 7px;
	}

}

