<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">

	<title>{{ title }}</title>

	<meta name="viewport" content="initial-scale=1.0, width=device-width" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
	<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.ico') }}">

	{% block googleJS %}{% endblock %}

</head>

<body>
	<div class="grid-container" id="container">
		{% block header %}{% endblock %}
		<main>
			<article>
				{% block notFound %}{% endblock %}
				{% block response %}{% endblock %}
				{% block search %}{% endblock %}
				{% block postJS %}{% endblock %}
			</article>
		</main>
		{% block footer %}{% endblock %}
	</div>

	<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
	<script src="https://maps.googleapis.com/maps/api/js?key={{apikey}}&callback=initMap&libraries=&v=weekly" async>
	</script>

</body>

</html>