{% extends "base.html" %}

{% block googleJS %}
<script src="{{ url_for('static', filename='scripts_js/google_maps.js') }}"></script>
{% endblock %}

{% block header %}
<header>
    <h1><a href="{{ url_for('index') }}">{{ title }}</a></h1>
    <p class="sub-logo">Le papy-robot omniscient ! Une question sur un lieu et vous saurez tout, ou presque.</p>
</header>
{% endblock %}

{% block search %}
<div class="thematic">
    <h2 id="wdyw">👴 Découvrir un lieu, en connaître plus à son sujet ?</h2>
    <form id="form_quest" enctype="multipart/form-data">
        <input type="text" id="input_quest" class="text_input" title="Only chars" name="quest"
            placeholder="Posez moi votre question" required>
        <p><input type="submit" class="validate" value="Rechercher"></p>
    </form>
</div>
{% endblock %}

{% block response %}
<div id="resp"></div>
{% endblock %}

{% block postJS %}
<script src="{{ url_for('static', filename='scripts_js/post_data.js') }}"></script>
{% endblock %}

{% block footer %}
<footer>
    <ul>
        <li class="sign"><a href="https://github.com/Jerome-LorD/P7_GrandPy"> Jérome-LorD on Github</a></li>
        <li class="sign">2021 OC GrandPy Project</li>
    </ul>
</footer>
{% endblock %}